#headerPopup {
  width: 75%;
  margin: 0 auto;
  display: none;
  z-index: 1002;
  overflow: visible;
  left: 15%;
  position: absolute;
  transition: 0.7s ease;
  background: #fff;

  justify-content: center;
}

#headerPopup iframe {
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: 0.7s ease;
}

#openVideo {
  cursor: pointer;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
